@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "~spectre.css";
@import "~spectre.css/dist/spectre-icons.css";

html, body {
	background-color: #29303e;
	color: #FAFAFA;
	font-family: 'Poppins', sans-serif;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.dark-card {
	background-color: #323c46;
	padding: 22px;
	border-radius: 7px;
}

.margin-perso{
	margin-top: 56px;
}

@media screen and (min-width: 768px) {
	.margin-perso {
		margin-top: 76px;
	}
}

.bg-circle {
	background-color: #323c46;
}

.radius-1 {
	height: 200px;
	width: 200px;
	border-radius: 100px 100px 0px;
}

.radius-2 {
	height: 100px;
	width: 100px;
	border-radius: 50px 50px 0px;
}

.radius-3 {
	height: 150px;
	width: 150px;
	border-radius: 75px 75px 75px 0px;
}

.resize-img {
	width:33%;
	height:33%;
	object-fit: contain
}

.stack {
	margin-left: 7%;
	padding-top: 13%;

}
