@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "~spectre.css";
@import "~spectre.css/dist/spectre-icons.css";

html, body {
  background-color: #29303e!important;
  color: #FAFAFA!important;
  font-family: 'Poppins', sans-serif!important;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.dark-card {
  background-color: #323c46!important;
  padding: 22px!important;
  border-radius: 7px!important;
  border: none!important;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.card-margin {
  margin-top: 76px;
}

.margin-perso{
  margin-top: 11px;
}

.margin-perso-projects{
  margin-top: 11px;
}

@media screen and (min-width: 768px) {
  .margin-perso {
    margin-top: 96px;
  }
}

.resize-img {
  width:33%;
  height:33%;
  object-fit: contain
}

.svg {
  height: 20px;
  width: 35px;
  margin-top: 4px;
}

.btn-perso {
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: 0.25rem 0.4rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  appearance: none;
  margin-right: 0.4rem;
}

.plain {
  background-color: #FAFAFA;
  border-radius: 5px;
  color: #29303e !important
}

.outline-perso {
  border: #FAFAFA 1px solid;
  border-radius: 5px;
  color: #FAFAFA!important;
}

.btn-perso:link {
  text-decoration: none;
}

.btn-perso:visited {
  text-decoration: none;
}

.btn-perso:hover {
  text-decoration: none;
}

.btn-perso:active {
  text-decoration: none;
}
