.circle {
    background-color: #323c46;
}

.radiusu {
    height: 200px;
    width: 200px;
    border-radius: 100px 100px 0px;
}

.radiusd {
    height: 100px;
    width: 100px;
    border-radius: 50px 50px 0px;
}

.radiust {
    height: 150px;
    width: 150px;
    border-radius: 75px 75px 75px 0px;
}

.stack {
    margin-left: 7%;
    padding-top: 13%;
}
